#WHITELIST APPROACH

#Ignore Everything
*

#Whitelist Directories
!*/

#WHITELIST
!.gitignore
!/libfprint-1.90.7/**
!libfprint-build-deps_1.90.7-2_all.deb

#Add Missing Build Artefact Ignores
libfprint-1.90.7/tests/__pycache__/
libfprint-1.90.7/.pc
